@media(min-width:769px) and (max-width:992px){
    body{font-size:16px !important;}
    .inner{
        width:40%;
        font-size: 1em;
        top: 0;
    }
    .inner h1{font-size: 2em;}
    .light-g, .light-g1, .projects{font-size:1em}
    .manage-space{display: block;height: 3px;}
}
